{$DOMAIN} {
  encode zstd gzip
  header {
    Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0, s-maxage=0"
    CDN-Cache-Control "no-store"
    Cloudflare-CDN-Cache-Control "no-store"
    Pragma "no-cache"
    Expires "0"
  }

  reverse_proxy quota-deck:8787
}
